ul{

display: flex;
flex-direction: column;
gap: 1rem;
}
li{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: rgb(255, 30, 30);
    border: none;
    border-radius: 2px;
    color: white;
}