p{
    width: 40%;
    height: 35px;
    background-color: rgba(0, 155, 23, 0.594);
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 170, 26);
}
body{
    height: 100%;
    background-color: rgba(46, 46, 110, 0.715);
    
}